body {
    height: fit-content;
    width: fit-content;
    background-image: url(../images/coffee.jpeg);
    background-color: blueviolet;
    color: cornsilk;
    margin: 0 auto;
}
.gif {
    float: right;
}
.jumbotron {
    background-image: url(https://chris-greening.github.io/instascrape/images/instagram_gradient.jpeg);
}

.container, .table-section, .tb1, .tb2 {
    
}

.container {
    padding: 1em;
}

.table-area {
    padding: 0.5em;
}
.Testimonials {
    text-align: center;
}